{% extends "base.html" %}

{% block body %}
<h2>Latest Roommates</h2>
  <ul class="list-unstyled">
    {% for user in users %}
    <ul>
      <li>{{ user.get_full_name }}</li>
      <li>Username: {{ user.username }}</li>
      <li>Gender: {{ user.profile.gender }}</li>
      <li>Birth Date: {{ user.profile.dob }}</li>
      <li>City: {{ user.profile.city}}</li>
      <li>Description: {{user.profile.description}}</li>
      <li>Ocupation: {{user.profile.ocupation}}</li>
      <li>Monthly Budget: {{user.profile.monthly_budget}}</li>
      <li>Tydiness level: {{user.profile.tidyness_lvl}}</li>
      <li>Guests level: {{user.profile.guests_lvl}}</li>
      <li>Temperament: {{user.profile.temperament}}</li>
      <li>Smoker: {{user.profile.is_smoker}}</li>
      <li>Has pets: {{user.profile.has_pets}}</li>
      <li>Available: {{user.profile.is_visible}}</li>
      <br><br>
    </ul>
    {% endfor %}
{% endblock %}
