{% extends "base.html" %}

{% block body %}
<h2>Latest Roommates</h2>
  <ul class="list-unstyled">
    {% for user in users %}
    <div class="container">
        <div class="row" >
          <div class="col-sm-1"></div>
          <div class="col-sm-3" style="background-color:lightblue;height:270px;border: 2px solid black; border-radius: 5px" ><img src="{{ user.profile.image.url }}" width="200", height="220">
            <ul>
              <li>{{ user.get_full_name }}</li>
              <li>{{user.profile.ocupation}}</li>
              <a href="profile/{{user.id}}/" class="btn btn-info" role="button">View profile</a>

              <br><br>
            </ul>
          </div>
          <div class="col-sm-8" style="background-color:lightblue;border: 2px solid black; border-radius: 5px">{{user.profile.description}}
      </div>
        </div>
    </div><br><br>
    {% endfor %}
{% endblock %}
